<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="ImportFolder" value="C:\Temp\Import"/>
    <add key="ResultFolder" value="C:\Temp\Import\Result"/>
  </appSettings>
  <connectionStrings>
    <!-- TODO Create proper datawriter without superuser rights -->
    <add name="PostgresDotNet" connectionString="Server=127.0.0.1;Port=5432;User Id=ElisStockWriter;Password=kagenvokserhverdag;Database=ElisStock;" providerName="Npgsql"/>
  </connectionStrings>
</configuration>
