<mat-accordion>
  <mat-expansion-panel *ngFor="let stock of stocks; let i = index;" (opened)="getTimeseries(stock.isin)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{stock.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{stock.isin}}
        </mat-panel-description>
        <mat-panel-description>
          {{stock.exchange}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Isin</th>
          <th>Currency</th>        
          <th>Exchange</th>
          <th>Instrument code</th>
          <th>Timeseries name</th>
        </tr>
        <tr>
          <td>{{stock.name}}</td>
          <td>{{stock.isin}}</td>
          <td>{{stock.currency}}</td>
          <td>{{stock.exchange}}</td>
          <td>{{stock.instrumentCode}}</td>
          <td *ngIf="stock.stockTimeSerieFacts !== {}">{{stock.stockTimeSerieFacts.name}}</td>
        </tr>
      </table>
  </mat-expansion-panel>
</mat-accordion>
